[submodule "Vishwajith"]
	path = Vishwajith
	url = https://github.com/vlk-2805/DriveThruDataInternship.git
[submodule "nithish"]
	path = nithish
	url = https://github.com/nithish-ra/Datadrive_intern_works.git
[submodule "Sivasriraman"]
	path = Sivasriraman
	url = https://github.com/Yonjoggle/InternDriveThruData.git
[submodule "Tritthik"]
	path = Tritthik
	url = https://github.com/tri-tt-hik/DriveThru_Internship_Work.git
[submodule "Nikhil-Karthik-S"]
	path = Nikhil-Karthik-S
	url = https://github.com/nikhil-karthik-avvss/intern-work-drivethrudata.git
